* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body,
html {
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

ul {
  list-style-type: none;
}

body {
  margin: 10px;
}

header {
  background-color: black;
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  top: 0;
  right: 0;
  position: sticky;
}

#logo {
  background-image: url("./images/img-tea-cozy-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
}

nav {
  text-align: right;
  margin-right: 10px;
}

nav li {
  display: inline;
  padding: 10px;
}

nav li a,
nav li a:visited {
  color: seashell;
}

nav li a:hover {
  opacity: 0.2;
}

#banner {
  background-image: url("./images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 1200px;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#banner section.mission {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

#banner h2 {
  margin-bottom: 10px;
}

#teaOfTheMonth {
  width: 1000px;
  margin: auto;
}

#teaOfTheMonth section.titles {
  text-align: center;
  padding: 10px;
}

#teaofTheMonth section.teaTypes {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-wrap: wrap;
}

.teaTypes img {
  max-height: 200px;
  max-width: 300px;
  margin: 10px 0;
}

#teaOfTheMonth div.type {
  text-align: center;
  flex: 1 1 300px;
}

#locations{
  background-image: url("./images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-width: 1200px;
  min-height: 700px;
  text-align: center;
  margin-top: 20px;
}

#locations h2{
  z-index: 1;
}

#showLocations{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 1200px;
  min-height: 700px;
}

#showLocations section.location {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  opacity: 0.9;
  width: 300px;
  line-height: 50px;
  margin: 30px;
}

#contact{
  text-align: center;
  line-height: 40px;
  margin: 20px;
  height: 200px;
}

#footer{
  text-align: right;
  font-size: 12px;
}
